<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884679163953-ovqrveon91d35kg06335aoi9tvrajon5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884679163953-ovqrveon91d35kg06335aoi9tvrajon5</string>
	<key>API_KEY</key>
	<string>AIzaSyDcLput35_N4W74NSJTcL-q-fH_xMOfQw0</string>
	<key>GCM_SENDER_ID</key>
	<string>884679163953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ENDEV.SkateNow</string>
	<key>PROJECT_ID</key>
	<string>skatenow-92308</string>
	<key>STORAGE_BUCKET</key>
	<string>skatenow-92308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884679163953:ios:bcb14f690b327b59c79510</string>
</dict>
</plist>